@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
/* CSS HEX */
--platinum: #e6e8e6ff;
--timberwolf: #ced0ceff;
--ash-gray: #9fb8adff;
--feldgrau: #475841ff;
--onyx: #3f403fff;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html, body {
  height: 100%;
}

html {
    scroll-behavior: smooth;
color:var(--onyx)
  }
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
font-family: "Roboto", sans-serif; 
  }

  section {
    padding:2rem 1rem;
  }


  h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
    margin-bottom: 1rem;
    /* font-size: clamp(1.5rem, 11vw, 4.2rem); */
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 11vw, 4.2rem);
  }
  p{
padding:1rem 0;
    font-size:1.3rem;
  }

span{
  font-style: italic;
  color:rgb(121, 121, 121);
  font-size: 20px;
}
img{
  display: block;
  aspect-ratio: 16/9;
max-width: 100%;
margin-bottom:2rem;
}
a {
  color: var(--onyx);
  text-decoration: none;
  display: inherit;
}
.btn{ 
  display: inline-block;
    background: var(--feldgrau);
    color: #fff;
    border:2px solid var(--feldgrau);
    border-radius: 8px;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
}
.btn:hover{
  color:#000;
  background-color: #fff;
  transition: .3s;
  
}
.btn-outline{ 
  display: inline-block;
    background: #fff;
    color: #000;
    border:2px solid var(--feldgrau);
    border-radius: 8px;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
}
.btn-outline:hover{
  color:#fff;
  background-color: var(--feldgrau);
  transition: .3s;
  
}
/* make me a 2 column row where the left column takes up 2 rows*/
/* #contact{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap:2rem;
} */
.card{
  position:relative;
  min-height: 30rem;


}

.card a{
  position:absolute;
  bottom:0px;

}
.card__content{
  padding: 0 1rem;
}
.posts{
max-width:90ch;
margin:auto;

}

.posts a {
  color: darkorange;
}
.posts a:hover {
  color: rgb(252, 178, 88);
}
.tags {
  display: flex; 
  flex-wrap: wrap; 
  margin: 1rem auto;  
}

.tag {
  margin: 0.25em;
  border-radius: .5em;
  padding: .3em .8em;
  font-size: 1.15em;
  background-color: var(--timberwolf);
}

.tag:hover{
      background-color: #b2b2b2;

  }
  /* nav styles */
  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

  }
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--onyx);
  }

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover, a:focus {

    color: #717171;
  }
  
  .expanded {
    display: unset;
  }

  .posts-container {
display:grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
gap:2rem;
  }
.post{
  display: block;
  border: #120f15;
  border-radius: 20px;
  box-shadow: 1px 3px 4px 1px #d8d7d8;
  padding:30px;
  background-color: #fff;
  margin-bottom: 1rem;
  transition: box-shadow 0.2s ease-in-out;

}
.post p {
  color:#120f15;
}
.post:hover{
  border: #120f15;
  box-shadow: 4px 5px 7px 3px #d8d7d8;
}
  
  @media screen and (min-width: 636px) {

    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburger {
        display: none;
      }
  }

  @media screen and (max-width: 1028px) {
  
.card a{
  position:unset!important;

}
  }


  
  .dark {
    background-color: #1d1c24;
    color: rgb(216, 212, 212);
    transition:.2s;
  }

  .dark body{
    background-color: unset;
  }
  
  .dark .nav-links a {
    color: var(--timberwolf);
  }
  .dark .post{
    background-color: #f2f2f2;
  }